<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Demo App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="liked">Liked</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="mostliked">MostLiked</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="disliked">DisLiked</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="employee">Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="products">Products</a>
        </li>
        <!-- <li class="nav-item">
              <a class="nav-link" routerLink="disliked-task">disliked-task</a>
          </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="rxjs">RXJS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="product-with-api">product-with-api</a>
        </li>
        <button type="button" class="btn btn-primary" *ngIf="isLoggedIn" (click)="logout()">Logout</button>
      </div>
     </div>
  </div>
  
</nav>