{{empList.length}}

<select class="form-select" aria-label="Default select example">
  <option selected>---Select States--</option>
  <option [value]="item" *ngFor="let item of statesList; let i =index;">{{item}}</option>
</select>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">phoneNumber</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngIf="empList.length > 0">
      <tr *ngFor="let item of empList; let i = index">
        <th scope="row">{{i + 1}}</th>
        <td>{{item.firstName}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.phoneNumber}}</td>
        <td>
          <button type="button" class="btn btn-primary btn-sm">Edit</button>
          <button type="button" class="btn btn-success btn-sm">View</button>
          <button type="button" class="btn btn-danger btn-sm">Delete</button>
        </td>
      </tr>
    </ng-container>

    <ng-container *ngIf="empList.length == 0">
      <tr>
        <td colspan="4">Employee record not fount</td>
      </tr>
    </ng-container>
  </tbody>
</table>