<p>product-with-api works!</p>
<!-- {{productList | json}} -->
<button type="button" class="btn btn-danger btn-sm" id="123" routerLink="/add-product">
  Add Product
</button>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Brand</th>
        <th scope="col">Title</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        <ng-container *ngIf="productList.length > 0">
            <tr *ngFor="let item of productList; let i = index">
                <th scope="row">{{ i+1 }}</th>
                <td>{{ item.brand }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.price }}</td>
                <td>
                    <button type="button" [routerLink]="['/product-details',item.id]" class="btn btn-primary btn-sm">View</button>
                    <button type="button" (click)="viewProduct(item)" class="btn btn-primary btn-sm">Edit</button>
                    <button type="button" class="btn btn-danger btn-sm" id="123" (click)="deleteProduct(item)">Delete</button>
                    <!-- <button type="button" class="btn btn-success btn-sm" (click)="navigateToViewProductDetails(item.id)">View</button> -->
                    <!-- <button type="button"  class="btn btn-success btn-sm"  [routerLink]="['/product-details2']" [queryParams]="{ productId: item.id, brand: item.brand}">View WIth Qparams</button>
                    <button type="button"  class="btn btn-danger btn-sm"  (click)="navigateToViewProductDetails2(item)">View WIth Qparams</button> -->
                </td>
            </tr>
        </ng-container>
        <ng-container *ngIf="productList.length==0">
            <tr>
                <td colspan="4">Product record not found</td>
            </tr>
        </ng-container>
    </tbody>
</table>