<app-header [messageData]="message" (messageFromEvent)="dataReceive($event)"></app-header>
<button type="button" class="btn btn-primary" (click)="sendDataToChild()">send Data</button>
<h3>{{dataFromChild}}</h3>
<div style="border: 1px solid green; padding: 10px">
   <!-- {{isloading | async}} -->
    <p>
    <ngb-alert [dismissible]="false">
      <strong>Warning!</strong> Better check yourself, you're not looking too good.
    </ngb-alert>
  </p>  
 <ngx-spinner type="ball-scale-multiple"></ngx-spinner>
  <router-outlet></router-outlet>
</div> 

<!-- <app-header></app-header> -->
