<p>add-employee works!</p>
<button type="button" class="btn btn-danger btn-sm" id="123" routerLink="/employee">Back</button>
<section style="min-height: 200px;border: 2px solid gray;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <h3>Add New User</h3>
        <form id="employeeForm" [formGroup]="employeeForm" (ngSubmit)="submitEmpForm()">
          <div class="mb-3">
            <label for="firstName" class="form-label">FirstName</label>
            <input type="text" class="form-control" formControlName="firstName" id="firstName"
              placeholder="Enter first name" [ngClass]="{ 'is-invalid': isSubmitted && f['firstName']['errors']}">
            <div *ngIf="isSubmitted && f['firstName']['errors']" class="error-box">
              <div *ngIf="f['firstName']['errors']['required']">firstName is required</div>
              <div *ngIf="f['firstName']['errors']['minlength']">Enter min 3 letters</div>
              <div *ngIf="f['firstName']['errors']['maxlength']">Enter max 10 letters</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="lastName" class="form-label">lastName</label>
            <input type="text" class="form-control" formControlName="lastName" id="lastName"
              placeholder="Enter last name" [ngClass]="{ 'is-invalid': isSubmitted && f['lastName']['errors'] }">
            <div *ngIf="isSubmitted && f['lastName']['errors']" class="error-box">
              <div *ngIf="f['lastName']['errors']['required']">Enter lastName is required</div>
              <div *ngIf="f['lastName']['errors']['minlength']">Enter min 3 letters</div>
            </div>
          </div>

          <div class="mb-3">
            <label for="phoneNumber" class="form-label">phoneNumber</label>
            <input type="text" class="form-control" formControlName="phoneNumber" id="phoneNumber"
              placeholder="Enter phoneNumber" [ngClass]="{ 'is-invalid': isSubmitted && f['phoneNumber']['errors'] }">
            <div *ngIf="isSubmitted && f['phoneNumber']['errors']" class="error-box">
              <div *ngIf="f['phoneNumber']['errors']['required']">phoneNumber is required</div>
              <div *ngIf="f['phoneNumber']['errors']['minlength']"> Enter 10 digits valid phoneNumber</div>
              <div *ngIf="f['phoneNumber']['errors']['maxlength']">Enter 10 digits valid phoneNumber</div>
            </div>
          </div>
          <div class="mb-3">
            <label for="emailId" class="form-label">emailId</label>
            <input type="text" class="form-control" formControlName="emailId" id="emailId" placeholder="Enter emailId"
              [ngClass]="{ 'is-invalid': isSubmitted && f['emailId']['errors'] }">
            <div *ngIf="isSubmitted && f['emailId']['errors']" class="error-box">
              <div *ngIf="f['emailId']['errors']['required']">emailId is required</div>
              <div *ngIf="f['emailId']['errors']['email']">Enter valid emailId</div>
            </div>
          </div>
          <div class="mb-3" formGroupName="address">
            <label for="" class="form-label">Address</label>
            <div class="row">
              <div class="col-3">
                <input type="text" class="form-control" formControlName="state" placeholder="State"
                  [ngClass]="{ 'is-invalid': isSubmitted && address.controls['state']['errors']}">
                <div *ngIf="isSubmitted && address.controls['state']['errors']" class="error-box">
                  <div *ngIf="address.controls['state']['errors']['required']">State is required</div>
                </div>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" formControlName="district" placeholder="district"
                  [ngClass]="{ 'is-invalid': isSubmitted && address.controls['district']['errors']}">
                <div *ngIf="isSubmitted && address.controls['district']['errors']" class="error-box">
                  <div *ngIf="address.controls['district']['errors']['required']">District is required</div>
                </div>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" formControlName="city" placeholder="City"
                  [ngClass]="{ 'is-invalid': isSubmitted && address.controls['city']['errors']}">
                <div *ngIf="isSubmitted && address.controls['city']['errors']" class="error-box">
                  <div *ngIf="address.controls['city']['errors']['required']">City is required</div>
                </div>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" formControlName="zipcode" placeholder="zipcode"
                  [ngClass]="{ 'is-invalid': isSubmitted && address.controls['zipcode']['errors']}">
                 <div *ngIf="isSubmitted && address.controls['zipcode']['errors']" class="error-box"> 
                  <div *ngIf="address.controls['zipcode']['errors']['required']">Zipcode is required</div>
                 </div> 
              </div>
            </div>
          </div>
          <div class="mb-3 row">
            <div class="col-3">
              <label for="" class="form-label">Employee Dept</label>
            </div>
            <div class="col-3">
              <button type="button" class="btn btn-primary btn-sm float-end" (click)="addNewDept()">Add Dept</button>
            </div>
          </div>
          <ng-container formArrayName="department" *ngFor="let item of departmentAsArray.controls; let i = index;">
            <div [formGroupName]="i" class="row">
              <div class="col-3">
                <input type="text" class="form-control" formControlName="deptName" placeholder="Dept Name"
                  [ngClass]="{ 'is-invalid': isSubmitted && item.get('deptName')?.errors}">
                <div *ngIf="isSubmitted && item.get('deptName')?.errors" class="error-box">
                  <div *ngIf="item.get('deptName')?.errors?.['required']">Dept is required</div>
                </div>
              </div>
              <div class="col-3">
                <input type="text" class="form-control" formControlName="empRole" placeholder="Emp Role"
                  [ngClass]="{ 'is-invalid': isSubmitted && item.get('empRole')?.errors}">
                <div *ngIf="isSubmitted && item.get('empRole')?.errors" class="error-box">
                  <div *ngIf="item.get('empRole')?.errors?.['required']">Emp role is required</div>
                </div>
              </div>
              <div class="col-3">
                <button type="button" class="btn btn-danger btn-sm" (click)="removeDept(i)"
                  *ngIf="departmentAsArray.controls.length > 1">Remove Dept {{i + 1}}</button>
              </div>
            </div>
          </ng-container>

          <div class="mb-3">
            <label for="status" class="form-label">Status</label>
            <select class="form-select" formControlName="status" aria-label="Default select example" id="status"
              [ngClass]="{ 'is-invalid': isSubmitted && f['status']['errors'] }">
              <option value="" selected>--Select Status</option>
              <option [value]="item" *ngFor="let item of empStatus; let i = index">{{item | titlecase}}</option>
            </select>
            <div *ngIf="isSubmitted && f['status']['errors']" class="error-box">
              <div *ngIf="f['status']['errors']['required']">Status is required</div>
            </div>
          </div>
          <div class="mb-3">
            <button type="submit" class="btn btn-primary btn-sm">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>