<p>products works!</p>
<div class="container-fluid">
    <div class="row">
        <ng-container *ngFor="let item of productList; let i =index;">
            <div class="col-sm-12 col-md-2 col-lg-2">
                <div class="card">
                    <img [src]="item.productImg" class="card-img-top" alt="">
                    <div class="card-body">
                      <h5 class="card-title">{{item.productName}}</h5>
                      <p>height:{{item.productHeight}</p>
                      <p>online shopping</p>
                      <p>Rating:{{item.productRating}}</p>
                      <p>offer:{{item.productDiscount}}</p>
                      <p>2000</p>
                      <p>M.R.P:{{item.productMRP}}</p>
                    </div>
                  </div>
              </div>
        </ng-container>
      
    </div>
  </div>