<p>add-product works!</p>
<button type="button" class="btn btn-danger btn-sm" id="123" routerLink="/product-with-api">Back</button>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h3>Create New Product</h3>
            <form id="employeeForm"[formGroup]="productForm"(ngSubmit)="addNewProduct()">
                <div class="row">
                    <div class="mb-3">
                        <label for="title" class="form-label">Product Title</label>
                        <input type="text"class="form-control"formControlName="title"id="title"placeholder="Enter first name"
                        [ngClass]="{ 'is-invalid': isSubmitted && f['title']['errors'] }"
                      />
                        <div *ngIf="isSubmitted && f['title']['errors']" class="error-box">
                        <div *ngIf="f['title']['errors']['required']">Product name is required</div>
                    </div>
                </div>
                </div>
                <div class="mb-3">
                    <button type="submit" [disabled]="isSubmitDisabled" class="btn btn-primary btn-sm">{{isSubmitDisabled ? "Saving....":"Submit"}}</button>
                </div>
            </form>
        </div>
    </div>
</div>